In [1]:
import requests
import pandas as pd
import mysql.connector
import sqlalchemy
from bs4 import BeautifulSoup

In [2]:
url='https://www.cbinsights.com/research-unicorn-companies'
data=requests.get(url).text

In [3]:
soup = BeautifulSoup(data, 'html.parser')

In [4]:
for table in soup.find_all('table'):
    print(table.get('class'))

['sortable-theme-bootstrap']

In [5]:
table=soup.find('table',class_='sortable-theme-bootstrap')

In [6]:
df=pd.DataFrame(columns=['Company','Valuation','Date_Joined','Country','City','Industry','Selector_Investors'])

In [7]:
for row in table.find_all('tr'):
    columns=row.find_all('td')
    if(columns!=[]):
        comapany=columns[0].text.strip()
        valuation=columns[1].text.strip()
        date_Joined=columns[2].text.strip()
        country=columns[3].text.strip()
        city=columns[4].text.strip()
        industry=columns[5].text.strip()
        selector=columns[6].text.strip()
        
        df=df.append({'Company':comapany,'Valuation':valuation,'Date_Joined':date_Joined,'Country':country,
                      'City':city,'Industry':industry,'Selector_Investors':selector},ignore_index=True)

In [8]:
df

,Company,Valuation,Date_Joined,Country,City,Industry,Selector_Investors
0,ByteDance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,$127,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,$100,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
4,Canva,$40,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat..."
...,...,...,...,...,...,...,...
1193,LeadSquared,$1,6/21/2022,India,Bengaluru,Internet software & services,"Gaja Capital Partners, Stakeboat Capital, West..."
1194,FourKites,$1,6/21/2022,United States,Chicago,"Supply chain, logistics, & delivery","Hyde Park Venture Partners, Bain Capital Ventu..."
1195,VulcanForms,$1,7/5/2022,United States,Burlington,"Supply chain, logistics, & delivery","Eclipse Ventures, D1 Capital Partners, Industr..."
1196,SingleStore,$1,7/12/2022,United States,San Francisco,Data management & analytics,"Google Ventures, Accel, Data Collective"
1197,Unstoppable Domains,$1,7/27/2022,United States,Las Vegas,Internet software & services,"Boost VC, Draper Associates, Gaingels"

In [9]:
database_username = 'root'
database_password = 'newrootpassword'
database_ip       = '127.0.0.1'
database_name     = 'web_crawling'

In [10]:
database_connection = sqlalchemy.create_engine('mysql+mysqlconnector://{0}:{1}@{2}/{3}'.
                                               format(database_username, database_password, 
                                                      database_ip, database_name), pool_recycle=1, pool_timeout=57600).connect()

In [11]:
df.to_sql(con=database_connection, name='Unicorn_Companies', if_exists='append',chunksize=100)

C:\Users\rudra\anaconda3\lib\site-packages\pandas\io\sql.py:1444: UserWarning: The provided table name 'Unicorn_Companies' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

In [12]:
database_connection.close()